node_modules
npm-debug.log*
yarn-error.log

build
dist

.env
.env.local
.env.development
.env.production
.env.test

.vscode
.idea

Dockerfile
docker-compose.yml

.DS_Store
*.swp
*.tmp
*.bak
*.log
coverage

logs